.main{
    margin-top:15px;
}
mat-card{
    margin:8px;
    max-height:100%;
}
.request-table-card{
    padding:0;
}
.request-table-card-header{
    padding:30px;
}
.search-request-input{
    width:100%;
}
.left-column{
    margin-left:30px;
}
.content{
    margin-right:30px;
}
.requests-table-container{
    width:100%;
    padding:0;
    margin:0;
}

.add-request-btn{
    background: #349251;
    color:#fff;
}
.add-request-btn:hover{
    background: #2e8149f6;
}
mat-icon{
    padding-right: 8px;
}
.row-button{
    cursor: pointer;
}
.row-button:hover{
    background-color: #2e814a1f;
}