.main{
    margin-top:15px;
    margin-left:30px;
    margin-right:30px;
}
mat-card{
    margin:8px;
    margin-bottom:15px;
}
mat-form-field{
    width: 100%;
}
.submit-btn{
    background: #349251;
    color:#fff;
}
.submit-btn:hover{
    background: #2e8149f6;
}