<mat-toolbar>
    <div>
        <a routerLink="/">MERSEE</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide fxShow.gt-sm>
        <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li>
                    <a routerLink="/profile">Events</a>
            </li>
            <li>
                <a routerLink="/profile">Profile</a>
            </li>
            <li>
                <a routerLink="/login">Log out</a>
            </li>
        </ul>
    </div>
    <!-- mobile flex media query -->
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide fxShow.lt-md>
    <button mat-icon-button [matMenuTriggerFor]="menu" ><mat-icon>more_vert</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profile</button>
        <button mat-menu-item routerLink="/requests">Requests</button>
        <button mat-menu-item routerLink="/login">Log out</button>
    </mat-menu>
    </div>
    <!-- mobile flex media query -->
</mat-toolbar>