<div class="body" fxLayout="row">
<div fxFlex>
  <mat-card>
   hi user !
  </mat-card>
</div>
<div fxFlex="70">
  <mat-card>
    <div *ngIf="request">
                  <form (ngSubmit)="createRequest()" fxLayout="column">
                                  <mat-form-field>
                                      <input matInput placeholder="Topic" name="topic" [(ngModel)]="request.topic">
                                  </mat-form-field>
                                  <mat-form-field>
                                      <input matInput placeholder="Location" name="location" [(ngModel)]="request.location">
                                  </mat-form-field>
                                  <!-- <mat-form-field>
                                      <mat-select placeholder="Choose Type of request">
                                        <mat-option *ngFor="let type of types" [value]="type.value" name="type" [(ngModel)]="request.type">
                                          {{ type.viewValue }}
                                        </mat-option>
                                      </mat-select>
                                    </mat-form-field> -->
                      <mat-form-field>
                          <textarea matInput placeholder="Description" name="description" [(ngModel)]="request.description" >Beer conversation</textarea>
                      </mat-form-field>
      
                      <mat-form-field>
                          <input matInput placeholder="Duration" name="duration" [(ngModel)]="request.duration">
                      </mat-form-field>
                      <button type="submit">Create request</button>
                  </form>
                </div>
  </mat-card>
</div>
</div>
