<div class="body" fxLayout="row">
<div fxFlex>
  <mat-card>
   hi user !
  </mat-card>
</div>
<div fxFlex="70">
  <mat-card>
              <mat-card-title style="text-align:center">Submit request</mat-card-title>
              <mat-horizontal-stepper [linear]="isLinear" #stepper>
                <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Name</ng-template>
                    <div fxLayout="row">
                              <mat-form-field>
                                  <input matInput placeholder="First name" formControlName="firstCtrl" required>
                              </mat-form-field>
                              <mat-form-field>
                                  <input matInput placeholder="Last name" formControlName="firstCtrl" required>
                              </mat-form-field>
                          </div>
                    <div>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>
                <mat-step [stepControl]="secondFormGroup">
                  <form [formGroup]="secondFormGroup">
                    <ng-template matStepLabel>Address</ng-template>
                    <mat-form-field>
                      <input  matInput placeholder="Address" formControlName="secondCtrl" required>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>

                <mat-step [stepControl]="thirdFormGroup">
                  <form [formGroup]="thirdFormGroup">
                    <ng-template matStepLabel>Request message</ng-template>
                    <form>
                        <mat-form-field>
                            <mat-select placeholder="Choose request type" [(ngModel)]="selectedValue" name="requestTypes">
                              <mat-option *ngFor="let key of requestTypes" [value]="key.value">
                                {{key.viewValue}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                      
                        <p> Selected value: {{selectedValue}} </p>
                      </form>
                    <mat-form-field>
                      <textarea  matInput placeholder="Request message" formControlName="thirdCtrl" required></textarea>
                    </mat-form-field>
                    <div>
                      <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                      <button mat-raised-button color="primary" matStepperNext>Next</button>
                    </div>
                  </form>
                </mat-step>

                <mat-step [stepControl]="fourthFormGroup">
                    <form [formGroup]="fourthFormGroup">
                      <ng-template matStepLabel>Contact details</ng-template>
                      <mat-form-field>
                        <input  matInput placeholder="Tel.number" formControlName="fourthCtrl" required>
                      </mat-form-field>
                      <mat-form-field>
                          <input  matInput placeholder="Email" formControlName="fourthCtrl" required>
                        </mat-form-field>
                      <div>
                        <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                        <button mat-raised-button color="primary" matStepperNext>Next</button>
                      </div>
                    </form>
                  </mat-step>

                <mat-step>
                  <ng-template matStepLabel>Done</ng-template>
                  You are now done.
                  <div>
                    <button mat-raised-button color="warn" matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                  </div>
                </mat-step>
              </mat-horizontal-stepper>


  </mat-card>
</div>
</div>
