<mat-card *ngIf="dataSource">
  <mat-card-header>
    <mat-card-title>{{dataSource.topic}}</mat-card-title>
    <mat-card-subtitle>{{dataSource.type}} , {{dataSource.duration}} , {{dataSource.location}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{dataSource.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
      <button mat-raised-button color="warn">Delete</button>
    <button mat-raised-button color="primary">Edit</button>
  </mat-card-actions>
</mat-card>